.bold_font{
    font-weight: bold;
}

.bold_font i{
    font-weight: 1000;
    font-size: 24px;
    margin: auto;
    margin-right: 5px;
}
.prf_img{
    height: 50px;
    border-radius: 50%;
    width: 50px;

}