<!--Container Main start-->
<main class="content">
    <div class="container-fluid p-0">


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Schedule Calendar</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item active">Employee</li>
                                <li class="breadcrumb-item" aria-current="page">Calendar</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 pe-0">
                <div class="cal_lfe">
                    <div class="cal_lfe_top">
                        <button class="btn btn-white bluec dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Make a Schedule
                        </button>

                        <div class="dropdown-menu dropdown-menu-end make_shed">
                            <div class="team_mbr_hd">
                                <h3>Add Scheduler</h3>
                                <span class="cloze_inn"><i class="fa fa-times" aria-hidden="true"></i></span>
                            </div>
                            <div class="p-4">
                                <div class="add_scdlur">
                                    <h3>Add Title</h3>
                                    <ul>
                                        <li>
                                            <a><i class="i_1"><img src="assets/images/tick-icon.png"></i>
                                                Task</a>
                                        </li>
                                        <li>
                                            <a><i class="i_2"><img src="assets/images/tick-icon.png"></i>
                                                Followup</a>
                                        </li>
                                        <li>
                                            <a><i class="i_3"><img src="assets/images/tick-icon.png"></i>
                                                Meeting</a>
                                        </li>

                                        <li>
                                            <a><i class="i_5"><img src="assets/images/tick-icon.png"></i>
                                                Event</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mon_notif">
                                    <div class="dat_mod d-flex justify-content-between">
                                        <strong>Monday, April 4th 2022</strong>
                                        <strong>00:00 AM</strong>
                                    </div>
                                    <div class="not_sles d-flex justify-content-between">
                                        <span><img src="assets/images/li-icn-lst2.png"> Notify Me</span>
                                        <select class="form-select">
                                            <option>30min Before</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="slect_vsit_out">
                                    <div class="slectr_dv">
                                        <label>Select Visitor</label>
                                        <ul>
                                            <li>
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <strong>Raj Builder</strong>
                                                <span>Bankura, Zone 3</span>
                                            </li>
                                            <li>
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <strong>Raj Builder</strong>
                                                <span>Bankura, Zone 3</span>
                                            </li>
                                            <li>
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <strong>Raj Builder</strong>
                                                <span>Bankura, Zone 3</span>
                                            </li>
                                            <li>
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <strong>Raj Builder</strong>
                                                <span>Bankura, Zone 3</span>
                                            </li>
                                            <li>
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <strong>Raj Builder</strong>
                                                <span>Bankura, Zone 3</span>
                                            </li>
                                            <li>
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <strong>Raj Builder</strong>
                                                <span>Bankura, Zone 3</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tsk_catgr">
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select
                                                            example" id="status_type">
                                                <option selected="Select an
                                                                options">Task Category</option>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <textarea class="form-control" placeholder="Make a detail note"></textarea>
                                        </div>

                                        <div class="d-flex marktxts">
                                            <div class="form-check date">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="show_event">
                                                <label class="form-check-label" for="show_event">Marked this
                                                    task as</label>
                                            </div>
                                            <div class="mar_btn">
                                                <button><img src="assets/images/li-icn-lst1.png">
                                                    Important</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sclul_for_dv">

                                    <div class="this_scld_for add_not_to_dv_r">
                                        This Schedule for
                                        <div class="d-flex">
                                            <div>Self</div>
                                            <div class="form-check form-switch col-auto d-block">
                                                <input class="form-check-input" type="checkbox" id="switch1">
                                            </div>
                                            <div>Subordinate</div>
                                        </div>
                                    </div>
                                    <div class="scdl_list">
                                        <div class="cnk_slect">

                                            <div class="form-check d-inline-block align-middle me-3">
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <label class="form-check-label" for="assigned_groups"></label>
                                            </div>

                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div>
                                                    <strong>Anikate Das</strong>
                                                    <span>Relationship : Sales Man</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cnk_slect">

                                            <div class="form-check d-inline-block align-middle me-3">
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <label class="form-check-label" for="assigned_groups"></label>
                                            </div>

                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div>
                                                    <strong>Anikate Das</strong>
                                                    <span>Relationship : Sales Man</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cnk_slect">

                                            <div class="form-check d-inline-block align-middle me-3">
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <label class="form-check-label" for="assigned_groups"></label>
                                            </div>

                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div>
                                                    <strong>Anikate Das</strong>
                                                    <span>Relationship : Sales Man</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cnk_slect">

                                            <div class="form-check d-inline-block align-middle me-3">
                                                <input class="form-check-input" type="radio" name="assigned"
                                                    id="assigned_groups" checked="">
                                                <label class="form-check-label" for="assigned_groups"></label>
                                            </div>

                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div>
                                                    <strong>Anikate Das</strong>
                                                    <span>Relationship : Sales Man</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="d-flex justify-content-center mt-3 mb-3">
                                    <button class="btn btn-pink me-3">Reset</button>
                                    <button class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cal_lfe_blw">
                        <button class="btn btn-white orgc dropdown-toggle" data-bs-toggle="dropdown"> <i
                                class="fa fa-plus" aria-hidden="true"></i>
                            Team's Schedule</button>
                        <div class="dropdown-menu dropdown-menu-end make_shed">
                            <div class="team_mbr_hd">
                                <h3>My Team Members</h3>
                                <span class="cloze_inn"><i class="fa fa-times" aria-hidden="true"></i></span>
                            </div>
                            <div id="simplebarright" class="sech_list_out">

                                <div class="p-4">
                                    <div class="sech_list">
                                        <div class="cnk_slect">
                                            <div class="form-check date">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="show_event">
                                                <label class="form-check-label" for="show_event">&nbsp;</label>
                                            </div>
                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div class="wit_zon">
                                                    <strong>Ghosh Hardware &amp; Iron</strong>
                                                    <p><span> Relationship : Sales</span>

                                                    </p>
                                                </div><span class="new_loc_icn"> Bankura, Zone 3</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="sech_list">
                                        <div class="cnk_slect">
                                            <div class="form-check date">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="show_event">
                                                <label class="form-check-label" for="show_event">&nbsp;</label>
                                            </div>
                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div class="wit_zon">
                                                    <strong>Ghosh Hardware &amp; Iron</strong>
                                                    <p><span> Relationship : Sales</span>

                                                    </p>
                                                </div><span class="new_loc_icn"> Bankura, Zone 3</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="sech_list">
                                        <div class="cnk_slect">
                                            <div class="form-check date">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="show_event">
                                                <label class="form-check-label" for="show_event">&nbsp;</label>
                                            </div>
                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div class="wit_zon">
                                                    <strong>Ghosh Hardware &amp; Iron</strong>
                                                    <p><span> Relationship : Sales</span>

                                                    </p>
                                                </div><span class="new_loc_icn"> Bankura, Zone 3</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="sech_list">
                                        <div class="cnk_slect">
                                            <div class="form-check date">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="show_event">
                                                <label class="form-check-label" for="show_event">&nbsp;</label>
                                            </div>
                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div class="wit_zon">
                                                    <strong>Ghosh Hardware &amp; Iron</strong>
                                                    <p><span> Relationship : Sales</span>

                                                    </p>
                                                </div><span class="new_loc_icn"> Bankura, Zone 3</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="sech_list">
                                        <div class="cnk_slect">
                                            <div class="form-check date">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="show_event">
                                                <label class="form-check-label" for="show_event">&nbsp;</label>
                                            </div>
                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div class="wit_zon">
                                                    <strong>Ghosh Hardware &amp; Iron</strong>
                                                    <p><span> Relationship : Sales</span>

                                                    </p>
                                                </div><span class="new_loc_icn"> Bankura, Zone 3</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="sech_list">
                                        <div class="cnk_slect">
                                            <div class="form-check date">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="show_event">
                                                <label class="form-check-label" for="show_event">&nbsp;</label>
                                            </div>
                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div class="wit_zon">
                                                    <strong>Ghosh Hardware &amp; Iron</strong>
                                                    <p><span> Relationship : Sales</span>

                                                    </p>
                                                </div><span class="new_loc_icn"> Bankura, Zone 3</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="sech_list">
                                        <div class="cnk_slect">
                                            <div class="form-check date">
                                                <input class="form-check-input me-2" type="checkbox" value=""
                                                    id="show_event">
                                                <label class="form-check-label" for="show_event">&nbsp;</label>
                                            </div>
                                            <div class="p_files">
                                                <img src="assets/images/profl-pic.png" alt="create">
                                                <div class="wit_zon">
                                                    <strong>Ghosh Hardware &amp; Iron</strong>
                                                    <p><span> Relationship : Sales</span>

                                                    </p>
                                                </div><span class="new_loc_icn"> Bankura, Zone 3</span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <p class="text-black px-4 py-0">Set Team Members to check there Schedule</p>
                            <button class="btn btn-info d-block mx-auto m-t0 mb-3">Set Members</button>
                        </div>
                        <h3>My Schedule</h3>
                        <ul>
                            <li>
                                <a><i class="i_1"><img src="assets/images/tick-icon.png"></i> Task</a>
                            </li>
                            <li>
                                <a><i class="i_2"><img src="assets/images/tick-icon.png"></i> Followup</a>
                            </li>
                            <li>
                                <a><i class="i_3"><img src="assets/images/tick-icon.png"></i> Meeting</a>
                            </li>
                            <li>
                                <a><i class="i_4"><img src="assets/images/tick-icon.png"></i> Visit</a>
                            </li>
                            <li>
                                <a><i class="i_5"><img src="assets/images/tick-icon.png"></i> Event</a>
                            </li>
                        </ul>
                        <h3 class="mt-4">Other</h3>
                        <ul>
                            <li>
                                <a><i class="i_6"><img src="assets/images/li-icn-lst1.png"></i> Important</a>
                            </li>
                            <li>
                                <a><i class="i_7"><img src="assets/images/li-icn-lst2.png"></i> Reminde</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 ps-0">
                <div class="bg-white shadow_d py-4 px-4 rounded-3">
                    <div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <app-calender-view></app-calender-view>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>