<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [fitBounds]="true" [disableDefaultUI]="true"
    (mapReady)="mapReady($event)">
    <!-- <agm-direction [origin]="origin" [destination]="destination">
    </agm-direction> -->

    <!-- [iconUrl]="$any(icon)" -->

    <agm-marker *ngFor="let m of markers; let i = index" 
    [latitude]="m.lat"
    [longitude]="m.lng" 
    [agmFitBounds]="true" 
    (mouseOver)="onMouseOver(infoWindow, m)" 
    (mouseOut)="onMouseOut(infoWindow, m)"
    (markerClick)="clickedMarker(m)"
    >
        <!-- [label]="m.label" -->
        <!-- animation="BOUNCE" -->
        <!-- iconUrl="http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png"  -->
        <agm-info-window [disableAutoPan]="false" #infoWindow>
            <strong>{{infoLabel}}</strong>
            <div id="content">
                <div id="siteNotice"></div>
                <div id="bodyContent">
                    <p><strong>Name : {{infoData.name}}</strong></p>
                    <p><strong>Phone : {{infoData.phone}}</strong></p>
                    <p><strong>Email : {{infoData.email}}</strong></p>
                </div>
            </div>
        </agm-info-window>

    </agm-marker>

    <!-- <ng-container>
        <agm-polyline *ngFor="let polyline of polylines;let i = index;" [strokeWeight]="5"
            [strokeColor]="polyline.color">
            <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude"
                [longitude]="point.longitude">
            </agm-polyline-point>
        </agm-polyline>
    </ng-container> -->
</agm-map>