<main class="content " style="height: 90vh; background: #e5e8f2;">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Dashboard</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="product" style="height: 40px;">
                        <option value="" >Select Brand</option>
                        <option *ngFor="let obj of productList;" [value]="obj.productName" >{{obj.productName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <!--<div class="">
                    <ng-autocomplete
                            [data]="memberList"
                            [searchKeyword]="'name'"
                            placeholder="Select member"
                            (selected)='selectMemberEvent($event)'
                            (inputChanged)='onChangeSearch($event)'
                            [itemTemplate]="itemTemplate"
                            [isLoading]="isLoading"
                            [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>-->
                <input type="text" class="form-control auto-search" placeholder="Search Member" list="memberList" (keyup)="onChangeSearch($event)"
                       (focusin)="onFocusInSearch()" [(ngModel)]="member" style="height: 40px;">
                <div id="memberList" class="custom-autocomplete auto-search" *ngIf="memberList.length > 0" [hidden]="isAutoCompleteHide">
                    <ul class="auto-search">
                        <li class="auto-search" *ngFor="let obj of memberList;" (click)="selectMemberEvent(obj)">{{obj.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="row">
                    <div class="col-6">
                        <input type="date" class="form-control" [(ngModel)]="startDate" style="height: 40px;">
                    </div>
                    <div class="col-6">
                        <input type="date" class="form-control" [(ngModel)]="endDate" style="height: 40px;">
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-6">
                <button class="btn btn-primary" style="height: 40px; width: 100%;" (click)="submitFilter()">Submit</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3 col-md-6">
                <div class="bg-white pnk_bg shadow-lg py-3 px-3 rounded-3 dashboard_top_box">
                    <div class="crd_dve_sec pnk_bg">
                        <div class="d-flex">
                            <div><img src="assets/images/view-icon-new.png"> </div>
                            <div class="hd_vvs">
                                <h3>Total Visit</h3>
                                <h2 class="text-success">{{totalVisit}}</h2>
                            </div>
                        </div>
<!--                        <a class="dropdown-toggle no-dropdown-arrow" > &lt;!&ndash; [matMenuTriggerFor]="customerMenu" &ndash;&gt;-->
<!--                            <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical">-->
<!--                        </a>-->
                        <div class="col-auto d-flex justify-content-between down_aro_dv">

                            <h4><img class="d-inline-block align-middle me-2" src="assets/images/down-arow-hov.png"
                                     alt="sucess_arrow"> {{totalVisitGrowth}} Last Week</h4>

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">
                <div class="bg-white shadow-lg comn_ddv py-3 px-3 rounded-3 dashboard_top_box">

                    <div class="crd_dve_sec">
                        <div class="d-flex">
                            <div><img src="assets/images/flag-icon.png"> </div>
                            <div class="hd_vvs grn_co">
                                <h3>Total Branding Request</h3>
                                <h2 class="text-success">{{totalBranding}}</h2>
                            </div>
                        </div>

                        <div class="col-auto d-flex justify-content-between down_aro_dv">

                            <h4><img class="d-inline-block align-middle me-2" src="assets/images/up-arro2.png"
                                     alt="sucess_arrow"> {{brandingGrowth}} Last Week</h4>

                        </div>
                    </div>

                </div>





            </div>

            <div class="col-lg-3 col-md-6">
                <div class="bg-white shadow-lg comn_ddv py-3 px-3 rounded-3 dashboard_top_box">

                    <div class="crd_dve_sec">
                        <div class="d-flex">
                            <div><img src="assets/images/tar-icn1.png"> </div>
                            <div class="hd_vvs blu_co">
                                <h3>Target visit</h3>
                                <h2 class="text-success">{{targetVisit}}</h2>
                            </div>
                        </div>

                        <div class="col-auto d-flex justify-content-between down_aro_dv">

                            <h4><img class="d-inline-block align-middle me-2" src="assets/images/up-arro2.png"
                                     alt="sucess_arrow"> {{targetVisitGrowth}} Last Week</h4>

                        </div>
                    </div>

                </div>





            </div>

            <div class="col-lg-3 col-md-6">
                <div class="bg-white shadow-lg comn_ddv py-3 px-3 rounded-3 dashboard_top_box">

                    <div class="crd_dve_sec">
                        <div class="d-flex">
                            <div><img src="assets/images/target-new-icon.png"> </div>
                            <div class="hd_vvs orgn_co">
                                <h3>Unique Visit</h3>
                                <h2 class="text-success">{{uniqueVisit}}</h2>
                            </div>
                        </div>

                        <div class="col-auto d-flex justify-content-between down_aro_dv">

                            <h4><img class="d-inline-block align-middle me-2" src="assets/images/up-arro2.png"
                                     alt="sucess_arrow"> {{uniqueVisitGrowth}} Last Week</h4>

                        </div>
                    </div>

                </div>





            </div>




        </div>

        <div class="row mt-3">
            <div class="col-lg-6 col-sm-12  mb-3">
                <app-stackbarchart
                        [title]="'Target Vs Achievement'"
                        [dataset]="targetAchievementData"
                        [valueLabels]="targetAchievementDataLabels"
                        [isLegendShow]="true"
                        [customFilter]="targetAchievementFilter"
                        (dayViewChanged)="onCallTypeChange($event, 'targetAchievement')"
                        (customFilterChanged)="customFilterChanged($event, 1)">
                </app-stackbarchart>
            </div>
            <div class="col-lg-6 col-sm-12  mb-3">
                <app-linechart
                        [title]="'Monthly Visit'"
                        [dataset]="monthlyVisitData"
                        [valueLabels]="monthlyVisitDataLabels"
                        [customFilter]="monthlyVisitFilter"
                        (dayViewChanged)="onCallTypeChange($event, 'monthlyVisit')"
                        (customFilterChanged)="customFilterChanged($event, 2)">
                </app-linechart>
            </div>
        </div>


    </div>
</main>