<!-- <button class="login_btn" (click)="login()">Login</button> -->
<div class="wrapper fadeInDown"
    style="background-image: url('assets/office5.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="assets/NavyaITlogo.png" id="icon" alt="User Icon" style="display: inline;" />
        </div>
        <!-- Login Form -->
        <div>
            <input type="text" id="login" class="fadeIn second" placeholder="login" [(ngModel)]="email">
            <!-- <span class="error-msg" [hidden]="!isEmailErr">Email is required</span> -->
            <input type="password" id="password" class="fadeIn third" placeholder="password" [(ngModel)]="password">
            <!-- <span class="error-msg" [hidden]="!isPasswordErr">Password is required</span> -->
            <button class="btn btn-primary mb-2" (click)="login()">Log In</button>
        </div>
        <!-- Remind Password -->
        <div id="formFooter">
            <!--      <a class="underlineHover">Forgot Password?</a>-->
        </div>

    </div>
</div>