<nav id="sidebar" class="sidebar">
    <div class="sidebar-content" id="sidebar-sticky">

        <div class="sidebar-brand text-start">
            <a class="d-inline-block align-middle" data-bs-target="#homeModal" data-bs-toggle="modal"
                data-bs-dismiss="modal">
                <img class="d-inline-block align-middle" src="assets/images/360home_icon.svg" alt="360home icon">
            </a>
            <span class="d-inline-block align-middle ms-2">Sales Force Automation</span>
        </div>

        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="dashboard.html" class="sidebar-link">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-1.svg" alt="dashboard">
                    <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a data-bs-target="#masterlist" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    aria-expanded="false">
                    <img class="d-inline-block align-middle me-2" src="assets/images/task-icon.svg" alt="masterlist">
                    <span class="align-middle">Master List</span>
                </a>
                <ul id="masterlist" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="employee-master.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Employee</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="dealer-master.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Dealer</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="sub-dealer-master.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Sub Dealer</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="distributor-master.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Distributor</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="branding-master.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Branding</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="product-master.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Product</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a data-bs-target="#attendance" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    aria-expanded="false">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-2.svg" alt="masterlist">
                    <span class="align-middle">Attendance & Leave</span>
                </a>
                <ul id="attendance" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="attendance.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Attendance</a>
                    </li>
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="leave.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Leave</a>
                    </li>


                </ul>
            </li>


            <li class="sidebar-item">
                <a href="" class="sidebar-link">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-3.svg" alt="contacts">
                    <span class="align-middle">PJP</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a data-bs-target="#mapping_conf" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    aria-expanded="false">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-5.svg" alt="masterlist">
                    <span class="align-middle"> Mapping Configuration</span>
                </a>
                <ul id="mapping_conf" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="view-map.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Employee Zone Map</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="view-map.html">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Distributor Zone Map</a>
                    </li>


                </ul>
            </li>

            <li class="sidebar-item">
                <a href="" class="sidebar-link">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-6.svg"
                        alt="opportunity">
                    <span class="align-middle">Notification Management</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="" class="sidebar-link">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-7.svg"
                        alt="opportunity">
                    <span class="align-middle">Visit Planner/Calender</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="sidebar-link">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-8.svg"
                        alt="opportunity">
                    <span class="align-middle">New Customer Registration</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a data-bs-target="#branddinf" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    aria-expanded="false">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-9.svg" alt="masterlist">
                    <span class="align-middle"> Branding</span>
                </a>
                <ul id="branddinf" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Vendor Master</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Branding Requisition</a>
                    </li>


                </ul>
            </li>


            <li class="sidebar-item">
                <a data-bs-target="#visitreport" class="sidebar-link" aria-expanded="false">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-10.svg"
                        alt="predictionreport">
                    <span class="align-middle">Visit Reports ​</span>
                </a>

            </li>
            <li class="sidebar-item">
                <a data-bs-target="#scheme" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    aria-expanded="false">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-11.svg"
                        alt="insightmanagement">
                    <span class="align-middle">Scheme</span>
                </a>
                <ul id="scheme" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Scheme Master</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="">
                            <img class="d-inline-block align-middle me-2" src="assets/images/circle-list.svg"
                                alt="circle-list"> Scheme Zone Mapping</a>
                    </li>


                </ul>
            </li>

            <li class="sidebar-item">
                <a data-bs-target="" class="sidebar-link" aria-expanded="false">
                    <img class="d-inline-block align-middle me-2" src="assets/images/master-dash-12.svg"
                        alt="insightmanagement">
                    <span class="align-middle">Configurations</span>
                </a>
            </li>

        </ul>

    </div>

</nav>