<div class="row">
    <div class="col-md-4 col-sm-12">
        <label for="district_name" class="form-label">State
            Name</label>
        <div class="input-group">
            <select class="form-select" aria-label="Default select example" id="status_type">
                <option selected="Select an options">Select from list</option>
            </select>
        </div>
    </div>
    <div class="col-md-4
                                            col-sm-12">
        <label for="district_name" class="form-label">District
            Name</label>
        <div class="input-group">
            <select class="form-select" aria-label="Default
                                                    select example" id="status_type">
                <option selected="Select
                                                        an options">Select
                    from list</option>
            </select>
        </div>
    </div>
    <div class="col-md-4
                                            col-sm-12">
        <label for="district_name" class="form-label">Zone
            Name</label>
        <div class="input-group">
            <select class="form-select" aria-label="Default
                                                    select example" id="status_type">
                <option selected="Select
                                                        an options">Select
                    from list</option>
            </select>
        </div>
    </div>

</div>


<div id="simplebarright" class="web_hery_out">
    <div>
        <div class="hdweb">
            <div class="form-check
                                                    date">
                <input class="form-check-input
                                                        me-2" type="checkbox" value="" id="show_event">
                <label class="form-check-label" for="show_event">West
                    Bengal</label>
            </div>

            <span><img src="assets/images/close-icon.png"></span>
        </div>
        <div class="zone_lists">
            <div class="zone_lists">
                <div class="zone_lists_inr">
                    <strong>Bankura</strong>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <button class="btn
                                                            btn-nobg"><img src="assets/images/trash-sm.png"
                            alt="create"></button>
                </div>
            </div>
        </div>
        <div class="zone_lists">
            <div class="zone_lists">
                <div class="zone_lists_inr">
                    <strong>Purulia</strong>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <button class="btn
                                                            btn-nobg"><img src="assets/images/trash-sm.png"
                            alt="create"></button>
                </div>
            </div>
        </div>
        <div class="zone_lists">
            <div class="zone_lists">
                <div class="zone_lists_inr">
                    <strong>Birbhum</strong>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <button class="btn
                                                            btn-nobg"><img src="assets/images/trash-sm.png"
                            alt="create"></button>
                </div>
            </div>
        </div>

    </div>

    <div>
        <div class="hdweb">
            <div class="form-check
                                                    date">
                <input class="form-check-input
                                                        me-2" type="checkbox" value="" id="show_event">
                <label class="form-check-label" for="show_event">West
                    Bengal</label>
            </div><img src="assets/images/close-icon.png">
        </div>
        <div class="zone_lists">
            <div class="zone_lists">
                <div class="zone_lists_inr">
                    <strong>Bankura</strong>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <button class="btn
                                                            btn-nobg"><img src="assets/images/trash-sm.png"
                            alt="create"></button>
                </div>
            </div>
        </div>
        <div class="zone_lists">
            <div class="zone_lists">
                <div class="zone_lists_inr">
                    <strong>Purulia</strong>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <button class="btn
                                                            btn-nobg"><img src="assets/images/trash-sm.png"
                            alt="create"></button>
                </div>
            </div>
        </div>
        <div class="zone_lists">
            <div class="zone_lists">
                <div class="zone_lists_inr">
                    <strong>Birbhum</strong>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <div class="form-check
                                                            date">
                        <input class="form-check-input
                                                                me-2" type="checkbox" value="" id="show_event">
                        <label class="form-check-label" for="show_event">Zone
                            1</label>
                    </div>
                    <button class="btn
                                                            btn-nobg"><img src="assets/images/trash-sm.png"
                            alt="create"></button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="red_map">
    <div class="red_mp_dnw">
        <div class="red_mp_dnw_in">
            <img src="assets/images/mark-icn.png">
            <span>Ready for
                Mapping</span>
        </div>
        <div class="red_mp_dnw_in">
            <img src="assets/images/fingr-icon.png">
            <span>Above Location
                With</span>
        </div>
        <div class="red_mp_dnw_in">
            <img src="assets/images/fingr-icon-dwn.png">
            <span>Following
                Resources</span>
        </div>
    </div>
</div>
<div id="simplebarright" class="mm_files_out">
    <div class="mm_files">
        <div class="p_files">
            <img src="assets/images/profl-pic.png" alt="create">
            <div>
                <strong>Ghosh
                    Hardware
                    &amp; Iron</strong>
                <span>Relationship
                    : Sales</span>
            </div>
            <button class="btn
                                                    btn-nobg"><img src="assets/images/trash-sm.png"
                    alt="create"></button>
        </div>
        <div class="p_files">
            <img src="assets/images/profl-pic.png" alt="create">
            <div>
                <strong>Ghosh
                    Hardware
                    &amp; Iron</strong>
                <span>Relationship
                    : Sales</span>
            </div>
            <button class="btn
                                                    btn-nobg"><img src="assets/images/trash-sm.png"
                    alt="create"></button>
        </div>
        <div class="p_files">
            <img src="assets/images/profl-pic.png" alt="create">
            <div>
                <strong>Ghosh
                    Hardware
                    &amp; Iron</strong>
                <span>Relationship
                    : Sales</span>
            </div>
            <button class="btn
                                                    btn-nobg"><img src="assets/images/trash-sm.png"
                    alt="create"></button>
        </div>
        <div class="p_files">
            <img src="assets/images/profl-pic.png" alt="create">
            <div>
                <strong>Ghosh
                    Hardware
                    &amp; Iron</strong>
                <span>Relationship
                    : Sales</span>
            </div>
            <button class="btn
                                                    btn-nobg"><img src="assets/images/trash-sm.png"
                    alt="create"></button>
        </div>
        <div class="p_files">
            <img src="assets/images/profl-pic.png" alt="create">
            <div>
                <strong>Ghosh
                    Hardware
                    &amp; Iron</strong>
                <span>Relationship
                    : Sales</span>
            </div>
            <button class="btn
                                                    btn-nobg"><img src="assets/images/trash-sm.png"
                    alt="create"></button>
        </div>
        <div class="p_files">
            <img src="assets/images/profl-pic.png" alt="create">
            <div>
                <strong>Ghosh
                    Hardware
                    &amp; Iron</strong>
                <span>Relationship
                    : Sales</span>
            </div>
            <button class="btn
                                                    btn-nobg"><img src="assets/images/trash-sm.png"
                    alt="create"></button>
        </div>
        <div class="p_files">
            <img src="assets/images/profl-pic.png" alt="create">
            <div>
                <strong>Ghosh
                    Hardware
                    &amp; Iron</strong>
                <span>Relationship
                    : Sales</span>
            </div>
            <button class="btn
                                                    btn-nobg"><img src="assets/images/trash-sm.png"
                    alt="create"></button>
        </div>
        <div class="p_files">
            <img src="assets/images/profl-pic.png" alt="create">
            <div>
                <strong>Ghosh
                    Hardware
                    &amp; Iron</strong>
                <span>Relationship
                    : Sales</span>
            </div>
            <button class="btn
                                                    btn-nobg"><img src="assets/images/trash-sm.png"
                    alt="create"></button>
        </div>
    </div>
</div>
<div class="d-flex
                                        justify-content-center
                                        mt-3">
    <button class="btn
                                            btn-primary me-2">Preview</button>
    <button class="btn
                                            btn-info">Save Map</button>
</div>